* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color: #666;
}
body {
	background: #f6f6f6;
	font-size: 12px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
i {
	font-style: normal;
}
.layout {
	width: 1190px;
	margin: 0 auto;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}
#shortcut a:hover, #header a:hover {
	color: #c81632;
}
#shortcut {
	background: #e3e4e5;
}
#shortcut .h_28 {
	display: inline-block;
	line-height: 28px;
	color: #999;
	padding: 0 7px;
}
.c_r {
	color: #f10215 !important;
}
#shortcut .spacer {
	overflow: hidden;
	margin: 11px 5px 0;
	width: 1px;
	height: 10px;
	background: #ccc;
}
#shortcut .place_choose {
	margin-left: 200px;
	float: left;
}
#shortcut .place_choose>span {
}
.shortcut-nav {
	float: right;
	margin-top: -3px;
}
.shortcut-nav>li {
	display: inline-block;
}
#shortcut .dt_mobie {
	position: relative;
}
#shortcut .dt_mobie img {
	position: absolute;
	height: 60px;
	width: 60px;
}
#header {
	position: relative;
}
#header .logo{
	position: absolute;
	top: -53px;
	box-shadow: 0 3px 4px 3px rgba(0,0,0,0.14);
}
.header_w {
	margin-left: 200px;
	position: relative;
}
.header_w .search_m {
	position: relative;
}
.header_w .search_m .form {
	position: relative;
	margin: 25px 0 5px 100px;
}
.header_w .search_m .form input {
	color: rgb(153, 153, 153);
	width: 500px;
	padding: 4px;
	height: 35px;
	border: 1px solid #f10215;
	line-height: 25px;
	font-size: 14px;
}
.header_w .search_m .form button {
	position: absolute;
	width: 50px;
	height: 35px;
	border: none;
	background: #f10215;
	font-size: 20px;
	font-weight: 700;
	line-height: 35px;
	cursor: pointer;
	top: 0;
	left: 500px;
}
.header_w .search_m .form button>i{
	color: #fff;
}
.header_w .search_m .shopping_car {
	position: absolute;
	top: 0px;
	left: 700px;
	width: 190px;
	height: 35px;
	text-align: center;
	line-height: 33px;
	border: 1px solid #e3e4e5;
	background: white;
}
.header_w .search_m .shopping_car a {
	color: #f10214;
}
.header_w .hot_word {
	margin-left: 100px;
}
.header_w .hot_word li {
	display: inline-block;
}
.header_w .hot_word li>a {
	color: rgb(153,153,153);
	line-height: 20px;
	white-space: nowrap;
	margin-right: 10px;
}
.header_w .navitems li {
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
}
.header_w .navitems a {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
}
.header_w .ad_1 {
	position: absolute;
	bottom: 0;
	right: 0;
}
.header_w .ad_1>a {
	display: inline-block;
	background: url(../img/ad1.jpg);
	width: 190px;
	height: 40px;
}
.fs_col1, .fs_col2 {
	float: left;
	margin-bottom: 10px;
}
.fs_col3 {
	float: right;
	margin-left: 10px;
	background: #fff;
	width: 190px;
	height: 100%;
}
.fs_col1 {
	margin-right: 10px;	
}
#fs .cate_menu {
	padding: 15px 0;
	width: 190px;
	background: #6e6568;
	/*color: #fff;*/
}
#fs .cate_item {
	padding-left: 12px;
	height: 30px;
	line-height: 30px;
}
#fs .cate_item a {
	color: white;
	font-size: 14px;
}
#fs .cate_item span {
	color: white;
}
#fs a:hover {
	color: #c81623;
}
#fs .cate_item:hover {
	background: #999395;
}
.fs_col2 .carousel {
	width: 790px;
	height: 340px;
	background: pink;
	margin-bottom: 10px;
}
.fs_col2 .carousel_extend {
	margin-left: -10px;
}
.fs_col2 .carousel_extend>li {
	float: left;
	margin-left: 10px;
}
.fs_col3 .user {
	padding: 0 10px;
	height: 115px;
	border-bottom: 1px solid #e6e6e6;
}
.fs_col3 .user_info {
	position: relative;
	padding: 15px 0 15px 60px;
	height: 75px;
}
.fs_col3 .user_info img {
	position: absolute;
	height: 45px;
	width: 45px;
	border-radius: 23px;
	top: 15px;
	left: 0px;
}
.fs_col3 .user_info_show p {
	margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fs_col3 .user_info_show a {
	margin-right: 5px;
	color: black;
}
.fs_col3 .user_profit a {
	display: inline-block;
	margin-right: 10px;
	width: 72px;
	height: 24px;
	border: 2px solid #e01222;
	line-height: 20px;
	text-align: center;
	color: #e01222;
}
.fs_col3 .news {
	padding: 0 15px;
}
.fs_col3 .news .mod_tab_head {
	padding: 8px 0 4px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	line-height: 14px;
} 
.fs_col3 .news .mod_tab_head_item {
	color: #333;
	padding-right: 12px;
	padding-left: 12px;
	border-right: 1px solid #dfe0e1;
}
.fs_col3 .news_first {
	padding-left: 0 !important;
}
.fs_col3 .news_last {
	padding-right: 0 !important;
	border-right: 0 !important;
}
.fs_col3 .news_more {
	position: absolute;
	right: 0;
	top: 8px;
}
.fs_col3 .news .mod_tab_content {
	padding: 12px 0;
}
.fs_col3 .news .mod_tab_content .active {
	display: block;
}
.fs_col3 .news .mod_tab_content_item {
	display: none;
}
.fs_col3 .news_items {
	line-height: 24px;
}
.fs_col3 .service {
	width: 190px;
	overflow: hidden;
}
.fs_col3 .service-list {
	margin-left: -2px;
}
.fs_col3 .service_item {
	float: left;
	width: 48px;
	height: 70px;
	border-left: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}
.fs_col3 .service_item>a {
	padding-top: 14px;
	height: 55px;
	display: block;
}
.fs_col3 .service_ico {
	display: block;
    background-image: url(../img/icon.png);
    background-size: 156px 148px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.fs_col3 .huafei {
    background-position: 0 -88px;
}
.fs_col3 .service_item .jipiao {
    background-position: 0 -44px;
}
.fs_col3 .service_item .jiudian {
    background-position: -44px -88px;
}
.fs_col3 .service_item .youxi {
    background-position: -88px 0;
}
.fs_col3 .service_item .qiyegou {
    background-position: -88px -44px;
}
.fs_col3 .service_item .jiayouka {
    background-position: 0 0;
}
.fs_col3 .service_item .dianyingpiao {
    background-position: -44px -44px;
}
.fs_col3 .service_item .huochepiao {
    background-position: -88px -88px;
}
.fs_col3 .service_item .zhongchou {
    background-position: -132px 0;
}
.fs_col3 .service_item .licai {
    background-position: -132px -44px;
}
.fs_col3 .service_item .lipinka {
    background-position: -132px -88px;
}
.fs_col3 .service_item .baitiao {
    background-position: -44px 0;
}
.fs_col3 .service_item a span:hover {
	color: #c81623;
}
.fs_col3 .service span {
	line-height: 22px;
	border-top: 2px solid #fff;
}
.box_hd {
	position: relative;
	padding: 0 20px 0 30px;
	height: 55px;
	line-height: 55px;
	color: #fff;
}
.box_hd_corner {
	position: absolute;
	background: url(../img/hd_sprites.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 28px;
	left: -4px;
	top: -4px;
}
.box_title {
	float: left;
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	padding-top: 9px;
	color: #fff;
}
.box_desp {
	/*display: inline-block;*/
	position: relative;
	float: right;
	margin-top: 19px;
	padding-right: 20px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
}
.box_arrow {
	background: url(../img/hd_sprites.png);
	background-size: 218px 188px;
	background-repeat: no-repeat;
	background-position: -154px -40px;
	width: 15px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 4px;	
}
.seckill_header {
	background: url(../img/seckill_hd.png);
	overflow: hidden;
}
.seckill_title {
	float: left;
}
.seckill_title .box_hd_corner {
	background-position: -190px -48px;
}
.seckill_title .box_hd_icon {
	float: left;
	display: inline-block;
	background: url(../img/hd_sprites.png);
	background-size: 218px 188px;
	background-repeat: no-repeat;
	background-position: 0 -40px;
	width: 34px;
	height: 40px;
	margin: 8px 8px 0 0;
}
.seckill_title .box_desp{
	margin-left: 12px;
}
.seckill_time {
	float: right;
}
.seckill_time_wrap {
	float: left;
}
.seckill_time_wrap>span {
	float: left;
	line-height: 45px;
	padding-top: 10px;
	font-size: 14px;
	color: white;
}
.seckill_clock {
	float: left;
	margin: 0 8px 0 6px;
}
.seckill_clock_item {
	float: left;
	width: 35px;
	height: 37px;
	background: #440106;
	font-size: 24px;
	font-weight: 700;
	border-radius: 3px;
	text-align: center;
	line-height: 37px;
	margin-top: 10px;
}
.seckill_clock_item>span {
	color: #f90013;
}
.seckill_clock .spilt {
	float: left;
	margin:22px 4px 0;
	width: 4px;
	height: 12px;
	font-size: 0;
	line-height: 0;
}
.seckill_clock_spilt {
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: #440106;
}
#seckill .spilt .start {
	margin-bottom: 4px;
}
.seckill_content {
	padding: 12px 0 13px;
	background: #fff;
}
.seckill_content_list_wrap {
	float: left;
}
.seckill_content_item {
	float: left;
	width: 200px;
	padding: 0 14px 0 15px;
	border-right: 1px solid #e7e7e7;
}
.seckill_content_item .pic {
	text-align: center;
	position: relative;
}
.seckill_content_item .tag {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background: url(../img/hd_sprites.png);
	background-size: 218px 188px;
	background-repeat: no-repeat;
	background-position: -54px -40px;
	width: 30px;
	height: 40px;
}
.seckill_content_item .tag>span {
	display: inline-block;
	margin-top: 8px;
	color: #fff;
}
.seckill_content .pic img {
	margin: 17px 0;
}
.seckill_content .desp {
	color: #999;
}
.seckill_content .desp:hover {
	color: #c81623;
}
.seckill_content .price {
	margin-top: 3px;
	font-size: 0px;
}
.seckill_content .now {
	font-weight: 700;
	margin-right: 8px;
}
.seckill_content .price i {
	font-size: 12px;
	font-weight: 300;
	margin-right: 3px;
	font-family: arial;
	color: #f10214;
}
.seckill_content .now>span {
	color: #f10214;	
	font-size: 18px;
}
.seckill_content .pre i {
	color: #999;
}
.seckill_content .pre>span {
	text-decoration: line-through;
	font-size: 12px;
}
.seckill_ad {
	margin-right: 10px;
}